<div class="container">
  <div class="row">
    <div class="row pt-1 pb-1">
      <label name="stocks">
        Add Stocks Day Values Separated by commas (Default Value would be 25, 36, 78, 14, 64, 27, 80, if input is invalid or empty, default case would be used)
      </label>
    </div>
    <div class="row pt-1 pb-1">
      <div class="col-xs-4">
        <input class="col-xs-4" for="stocks" [(ngModel)]="stocksValues">
      </div>
    </div>
    <div class="col-xs-4 pt-1">
      <button class="btn btn-primary" (click)="navigateToB()">Get Solution</button>
    </div>
  </div>
</div>
